@import '../../sass/styles';

:host {
  display: block;

  input[type=checkbox] {
    display: block;
    appearance: none;
    width: auto;
    background-color: get-color(primary-color-1);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: -3px;
    padding-bottom: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: none;

    &:checked:after {
      content: '\2714';
      position: absolute;
      font-size: 14px;
      line-height: 14px;
      color: get-color(primary-color-2);
    }
  }

  .option {
    color: get-color(primary-color-4);
    margin-bottom: 15px;
  }

  .btn-add {
    width: 45px;
    height: 45px;
    margin-left: -10px;
  }
}
