$color-palette: (
  primary-color-1: rgb(70, 82, 176),
  primary-color-2: rgb(255, 255, 255),
  primary-color-3: rgb(0, 0, 0),
  primary-color-4: rgb(111, 119, 121),
  primary-color-5: rgb(204, 204, 204),
  primary-color-6: rgb(246, 246, 246),
  secondary-color-1: rgb(0, 153, 51)
);

@function get-color($color-name, $alpha: 1) {
  @return rgba(map-get($color-palette, $color-name), $alpha);
}

$font-rem-sizes: (
  _11px: 0.68rem,
  _12px: 0.75rem,
  _14px: 0.875rem,
  _16px: 1rem,
  _18px: 1.125rem,
  _20px: 1.25rem,
  _22px: 1.375rem,
  _24px: 1.5rem,
  _26px: 1.625rem,
  _28px: 1.75rem
);

@function get-rem($pixels) {
  @return map-get($font-rem-sizes, $pixels);
}

$shadow: 0px 0px 20px get-color(primary-color-4, .2);

$questions-margin-bottom: 60px;
