@import './variables';
@import './mixins';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: get-rem(_16px);
  font-weight: normal;
  background-color: get-color(primary-color-6);


  /* Buttons */

  .btn-add-quest {
    font-size: get-rem(_22px) !important;
    font-weight: normal;
    color: get-color(primary-color-2);
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
  }

  .btn-bg-img {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: center center;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .btn-edit {
    background-image: url(/src/assets/icons/btn-edit.png);
  }

  .btn-add {
    background-image: url(/src/assets/icons/btn-add.png);
  }

  .btn-delete {
    background-image: url(/src/assets/icons/btn-delete.png);
  }

  .btn-toggle-mode {
    padding: 10px;
    color: get-color(primary-color-2);
    background-color: get-color(secondary-color-1);
    border: 1px solid get-color(primary-color-2);
    border-radius: 10px !important;
    outline: none !important;
    cursor: pointer;
  }


  /* Responsive styles */

  @include media-breakpoint-down(md) {

    .btn-add-quest {
      font-size: get-rem(_18px) !important;
    }

    .btn-toggle-mode {
      font-size: get-rem(_14px) !important;
    }

  }

  @include media-breakpoint-down(sm) {

    .btn-add-quest{
      margin-top: 8px !important;
    }
    
    .btn-toggle-mode {
      margin-top: 20px !important;
    }

  }

}
