@import '../../sass/styles';

:host {
  display: block;
  margin-bottom: 30px;
  border: 1px solid darkgreen;

  input[type=text],
  textarea {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid get-color(primary-color-4);
  }

  .option {
    margin-bottom: 10px;
    border: 1px solid yellow;

    .buttons {
      display: none;
    }

    &:hover>.buttons {
      display: inline-flex;
    }
  }

}
