<div class="row">
  <div class="col-12 question">
    {{ question }}
    <button class="btn-edit" (click)="showModalEditQuestion()">Editar</button>
  </div>
  <div class="col-12">
    <div class="option" *ngFor="let option of options">
      <input type="radio" name="option" value="{{ option.id }}" #opt> {{ option.label }}
      <div class="buttons">
        <button class="btn-edit" (click)="showModalRadioButton(option.id, option.label)">Editar</button>
        <button class="btn-delete" (click)="deleteOption(option.id)">Eliminar</button>
      </div>
    </div>
    <button class="btn-add" (click)="showModalRadioButton()">Agregar</button>
  </div>
</div>

<app-modal-window modalWindowId="{{ questionModalId }}" title="Editar pregunta">
  <div class="modal-body">
    <input type="text" id="question" name="question" value="{{ question }}" placeholder="Escriba la pregunta aquí" #questionInput>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="saveQuestionChanges(questionInput.value)">Guardar cambios</button>
  </div>
</app-modal-window>

<app-modal-window modalWindowId="{{ optionsModalId }}" title="{{ optionsModalTitle }}">
  <div class="modal-body">
    <input type="text" name="radiobutton-label" value="{{ optionLabel }}" id="{{ optionId }}" placeholder= "Nombre de la opción" #radiobuttonLabel>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="editRadiobutton(radiobuttonLabel.id, radiobuttonLabel.value)"
      *ngIf="editMode">Guardar cambios</button>
    <button type="button" class="btn btn-primary" (click)="addRadiobutton(radiobuttonLabel.value)" *ngIf="addMode">Agregar opci&oacute;n</button>
  </div>
</app-modal-window>
