<div class="header">
  <div class="container">
    <div>
      <button (click)="addQuestionText()">Texto</button>
    </div>
    <div>
      <button (click)="addQuestionRadiobuttons()">Casillas</button><span>({{ numQuestionRadiobuttons }})</span>
    </div>
    <div>
      <button (click)="displayAllContent()">Desplegable</button>
    </div>
    <button (click)="toggleAppMode()">PREVIEW</button>
  </div>
</div>
<div class="container poll">
  <div class="row">
    <div class="col poll-title">
      {{ pollTitle }}
      <button class="btn-bg-img btn-edit" (click)="showModalEditTitle()"></button>
    </div>
  </div>
  <div class="row">
    <div class="col poll-desc">
      {{ pollDescription }}
    </div>
  </div>
  <div class="poll-questions" #pollQuestionsContainer></div>
</div>

<app-modal-window modalWindowId="editPollTitleAndDesc" title="Editar el título de la encuesta">
  <div class="modal-body">
    <input type="text" id="pollTitle" name="pollTitle" value="{{ pollTitle }}" placeholder="Escriba el título aquí"
      #pollTitleInput>
    <textarea name="poll-description" placeholder="Descripción de la encuesta" #pollDescInput>{{ pollDescription }}</textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="editPollTitleAndDescription(pollTitleInput.value, pollDescInput.value)">Guardar
      cambios</button>
  </div>
</app-modal-window>
