<div class="header">
  <div class="container">
    <div class=header-top-padding *ngIf="!appMode.preview"></div>
    <div class="row">
      <div class="col-sm-12 col-md-2 col-lg-3 text-center top-menu">
        <button class="btn-add-quest" (click)="addQuestionText()" *ngIf="!appMode.preview">Texto ({{ counterQuestionText }})</button>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 text-center top-menu">
        <button class="btn-add-quest" (click)="addQuestionCheckboxes()" *ngIf="!appMode.preview">Casillas ({{ counterQuestionCheckboxes }})</button>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 text-center top-menu">
        <button class="btn-add-quest" (click)="addQuestionSelect()" *ngIf="!appMode.preview">Desplegable ({{ counterQuestionSelect }})</button>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 text-center top-menu">
        <button class="btn-bg-img btn-toggle-mode" (click)="toggleAppMode()">{{ btnTextToggleMode }}</button>
      </div>
    </div>
  </div>
</div>

<div class="container poll">
  <div class="row">
    <div class="col poll-title">
      {{ pollTitle }}
      <button class="btn-bg-img btn-edit" (click)="showModalEditTitle()" *ngIf="!appMode.preview"></button>
    </div>
  </div>
  <div class="row">
    <div class="col poll-desc">
      {{ pollDescription }}
    </div>
  </div>
  <div class="poll-questions" #pollQuestionsContainer></div>
</div>

<app-modal-window modalWindowId="editPollTitleAndDesc" title="Editar el título de la encuesta">
  <div class="modal-body">
    <input type="text" id="pollTitle" name="pollTitle" value="{{ pollTitle }}" class="form-control" placeholder="Escribe el título aquí" #pollTitleInput>
    <textarea name="poll-description" placeholder="Descripción de la encuesta" class="form-control" #pollDescInput>{{ pollDescription }}</textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="editPollTitleAndDescription(pollTitleInput.value, pollDescInput.value)">Guardar cambios</button>
  </div>
</app-modal-window>
