@import '../../sass/styles';

:host {
  display: block;
  margin-bottom: $questions-margin-bottom;

  .admin-options {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px dotted get-color(primary-color-5);

    .section-name {
      margin-bottom: 20px;
      color: get-color(primary-color-1);
    }

  }
}
