@import '../../sass/styles';

:host {
    display: block;
    margin-bottom: 30px;
    border: 1px solid darkgreen;

    input,
    textarea {
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid get-color(primary-color-4);
    }

}