<div class="row">
  <div class="col-12">
    <div class="question admin-buttons">
      <span>{{ question }}</span>
      <div class="buttons" *ngIf="!appMode.preview">
        <button class="btn-bg-img btn-edit" (click)="showModalEditQuestion()"></button>
        <button class="btn-bg-img btn-delete" (click)="showModalRemoveQuestion()"></button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <app-question-options [optionsModalId]="optionsModalId" [deleteOptionModalId]="deleteOptionModalId" [options]="options"></app-question-options>
  </div>
</div>

<app-modal-window modalWindowId="{{ questionModalId }}" title="Editar pregunta">
  <div class="modal-body">
    <input type="text" id="question" name="question" value="{{ question }}" class="form-control" placeholder="Escribe la pregunta aquí" #questionInput>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="saveQuestionChanges(questionInput.value)">Guardar cambios</button>
  </div>
</app-modal-window>

<app-modal-window modalWindowId="{{ removeQuestionModalId }}" title="¿Estás segur@ que deseas eliminar esta pregunta?">
  <div class="modal-body">
    {{ question }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="removeThisQuestion(index)">Eliminar pregunta</button>
  </div>
</app-modal-window>
